.git
.gitignore
.gitattributes

node_modules
vendor

public/build
public/hot

storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*

.env
.env.local
.env.production

*.md
tests/
.vite/
