@import 'tailwindcss';
@import '@nuxt/ui';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme static {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-sage-50: oklch(0.952 0.048 152.68);
    --color-sage-100: oklch(0.903 0.107 152.82);
    --color-sage-200: oklch(0.805 0.114 152.89);
    --color-sage-300: oklch(0.722 0.103 152.89);
    --color-sage-400: oklch(0.627 0.089 152.71);
    --color-sage-500: oklch(0.541 0.077 152.7);
    --color-sage-600: oklch(0.458 0.065 152.76);
    --color-sage-700: oklch(0.381 0.054 153.19);
    --color-sage-800: oklch(0.297 0.041 152.95);
    --color-sage-900: oklch(0.221 0.031 153.23);
    --color-sage-950: oklch(0.173 0.023 152.29);

    --color-gold-50: oklch(0.984 0.012 79.76);
    --color-gold-100: oklch(0.958 0.03 76.96);
    --color-gold-200: oklch(0.924 0.058 78.87);
    --color-gold-300: oklch(0.882 0.102 81.8);
    --color-gold-400: oklch(0.848 0.143 84.78);
    --color-gold-500: oklch(0.806 0.136 84.73);
    --color-gold-600: oklch(0.674 0.114 84.32);
    --color-gold-700: oklch(0.537 0.091 84.73);
    --color-gold-800: oklch(0.406 0.068 85.06);
    --color-gold-900: oklch(0.268 0.045 84.67);
    --color-gold-950: oklch(0.207 0.035 83.86);

    --color-slate-50: oklch(0.949 0.006 264.61);
    --color-slate-100: oklch(0.896 0.012 259.84);
    --color-slate-200: oklch(0.801 0.023 256.75);
    --color-slate-300: oklch(0.698 0.035 256.79);
    --color-slate-400: oklch(0.603 0.031 258.37);
    --color-slate-500: oklch(0.5 0.026 256.79);
    --color-slate-600: oklch(0.431 0.022 253.51);
    --color-slate-700: oklch(0.353 0.018 254.76);
    --color-slate-800: oklch(0.283 0.015 256.79);
    --color-slate-900: oklch(0.207 0.01 248.31);
    --color-slate-950: oklch(0.163 0.009 264.29);
}
